$gradienteInicio: #4dd1d3;
$gradienteFim: #092330;
$logomarca: #002a50;

.main-header {
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, $gradienteInicio, $gradienteFim);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.main-nav {
  display: flex;
  margin-left: auto;
  margin-right: 2rem;
}

.main-nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}

.main-nav li {
  margin-left: 0.9375em;
}

.main-nav a {
  padding-left: 2rem;
  text-decoration: none;
  display: block;
  color: white;
}


//@at-root//@at-root/@at-root//@at-root//@at-root


.logomarca {
  border: 4px solid $logomarca;
  margin: auto;

  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.5rem;

  mix-blend-mode: darken;
}

.logomarcaSpace {
  color: $logomarca;
  font-weight: bolder;
}

.logomarcaBox {
  color: white;
  background-color: $logomarca;
  mix-blend-mode: darken;
}
