<div class="boxMenor boxDados flexCenter" [ngClass]="{'boxDadosSelected': selecionado, 'sombra': !selecionado}" (click)="Clicked()">
  <div>
    <a href="#" class="notification">
      <img class="roundImg" [src]="imgSource" alt="Foto">
      <span class="badge dadoValor">{{dados.id}}</span>
    </a>
  </div>
  <div class="chaveValor chaveValorDir" style="margin-left: 1.5rem">
    <div class="dadoValor" [ngClass]="{'whiteText': selecionado}">{{dados.nome}}</div>
    <div class="dadoChave" [ngClass]="{'whiteText': selecionado}">{{dados.cargo}}</div>
  </div>
</div>
