/* You can add global styles to this file, and also import other style files */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e8e8e8;
    margin: 0;
}

.conteudo {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

.listBox {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1.5rem;
}

.boxDados {
    -webkit-box-shadow: 0px 5px 5px 0px grey;
    -moz-box-shadow: 0px 5px 5px 0px grey;
    box-shadow: 0px 5px 5px 0px grey;
    background-color: white;
    padding: 2rem;
}

.boxMaior {
    grid-column-start: 1;
    grid-column-end: 4;
}

.boxDadosSelected {
    background-color: #002b50;
}

.dadoChave {
    color: gray;
    font-weight: normal;
}

.dadoValor {
    color: #082432;
    font-weight: bold;
}

.whiteText {
    color:white;
}
