/* You can add global styles to this file, and also import other style files */

$backgroundBody: #e8e8e8;
$backgroundContent: white;
$boxDadosSelected: #002b50;
$dadoChave: gray;
$dadoValor: #082432;
$numeroId: #4cd2d1;
$sombra: grey;

$gridGap: 1.5rem;
$boxPadding: 1.5rem;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $backgroundBody;
  margin: 0;
}

.conteudo {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

.listBox {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: $gridGap;
}

.boxDados {
  background-color: $backgroundContent;
}

.boxMaior {
  grid-column-start: 1;
  grid-column-end: 4;
  margin-top: $gridGap;
  padding: $boxPadding;
}

.boxMenor {
  padding: $boxPadding;
}

.boxDadosSelected {
  background-color: $boxDadosSelected;
}

.dadoChave {
  color: $dadoChave;
  font-weight: normal;
}

.dadoValor {
  color: $dadoValor;
  font-weight: bold;
}

.whiteText {
  color:white;
}

.sombra {
  -webkit-box-shadow: 0px 5px 5px 0px $sombra;
  -moz-box-shadow: 0px 5px 5px 0px $sombra;
  box-shadow: 0px 5px 5px 0px $sombra;
}

.roundImg {
  border-radius: 50%;
}

.notification {
  text-decoration: none;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification .badge {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 15px;

  font-size: 1.2rem;
  text-align: center;

  border-radius: 50%;
  background-color: $numeroId;
}

.flexCenter {
  display: flex;
  align-items: center;
}

.chaveValor {
  height: 100%;
}

.chaveValorEsq {
  margin-left: 1.5rem;
  margin-right: 0.5rem;
  text-align: right;
}

.chaveValorDir {
  margin-left: 0.5rem;
  margin-right: 1.5rem;
  text-align: left;
}
